@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-title {
  font-family: 'PinyonScript-Regular', sans-serif;
  font-size: 18rem;
  color: #FD6EE3;
  margin-left: 10px;
  line-height: 1;
  text-shadow: 0 0 5px #871027;
} 
