@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

.hero-title {
  font-family: 'PinyonScript-Regular', sans-serif;
  font-size: 18rem;
  color: #FD6EE3;
  margin-left: 10px;
  line-height: 1;
  text-shadow: 0 0 5px #871027;
} 
