@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url("https://use.typekit.net/maa8yuy.css");


.hero-title {
  font-family: 'filmotype-yale', sans-serif;
  font-size: 18rem;
  color: #FD6EE3;
  margin-left: 10px;
  line-height: 1;
  text-shadow: 0 0 5px #871027;
} 

.links {
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
  cursor: pointer;
  padding-right: 1.25rem;
}

.links:hover {
  color: #FD6EE3;
}

.preloader {
  height: 100vh;
  width: 100%;
  background: black;
  color: #FD6EE3;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preloader .texts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  font-size: 60px;
  font-family: 'filmotype-yale', sans-serif;
  overflow: hidden;
  color: #FD6EE3;
  white-space: pre;
}